*, ::after, ::before {
  box-sizing: border-box;
}
.sidenav-container {
  height: 100%;
  background-color: whitesmoke;
  
}

.sidenav {
  width: 300px;
  background-color: cadetblue;
  
}

.sidenav .mat-toolbar {
  background: inherit;
  
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.myimage{
  height: 205px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #ddd;
  padding: 1px;
  width: 200px;
}
.myimage:hover{
  box-shadow: 0 0 5px 4px rgba(243, 207, 3, 0.5);
}
.imagediv{
  align-items: center;
  padding: 3rem;
}
.nav-list{
  list-style-type: none;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  justify-content: center;
}
.nav-list-item{
  text-align: center; 
}
.sidenav{
  align-items: center;
  flex-flow: row nowrap;
}


