<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h1 class="mb-0">Prasanna
            <span class="text-primary">Sampath</span>
        </h1>
        <div class="subheading mb-5">
             No 109, Annasiwattha, Dambutuwa Sri Lanka · 
            (+94)
            713100732
           <br> <a href="mailto:mpsampath16@gmail.com">mpsampath16@gmail.com</a>
        </div>
        <p class="lead mb-5">
            Janaka Edirisinghe is an open source enthusiast who is reading a degree in software
            engineering at University of Kelaniya Sri Lanka. He is a core team member for the Facebook Developer
            Circles
            Colombo.
            He is an experienced Software Developer with a history of working in an agile environment and with
            experience
            in Software Designing.
            Also, he is a talented graphic designer and a video editor with skill and years of practice.
            Janaka maintains <a href="https://medium.com/@janakapradeepedirisinghe">his blog </a> during his leisure
            time
            and also
            he never forgets to camping when he has free time.</p>
        <div class="social-icons">
           
                <i class="fab fa-linkedin-in"></i>
            
            <a href="https://github.com/janakaedirisinghe/" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/janakapradeep2" aria-hidden="true">
                <i class="fab fa-twitter">
                    
                </i>
            </a>
            <a href="https://www.facebook.com/janaka531" target="_blank">
                <mat-icon class="material-icons">
                    facebook
                </mat-icon>
            </a>
            <!-- <a href="https://www.instagram.com/janaka_edirisi/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a> -->

            <a href="https://medium.com/@janakapradeepedirisinghe" target="_blank">
                <i class="fab fa-medium"></i>
            </a>
            <!-- <a href="https://dribbble.com/#" target="_blank">
              <i class="fab fa-dribbble"></i>
            </a> -->
            <!-- <a href="https://www.youtube.com/channel/UCJbZEcZmQxQzBd7DxA4vAcw" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://stackoverflow.com/users/10215448/janaka-edirisinghe" target="_blank">
                <i class="fab fa-stack-overflow"></i>
            </a> -->
            
            
        </div>
    </div>
</section>